.welcome{
    
    width: 100%;
    height: 440px;
    background-color: rgba(120, 165, 198, 1.0); 
}
.img{
    width: 100%;
    height: 780px;
}
.blurEffect{
  display: flex;  
  justify-content: space-around;
  align-content: flex-end;
}
.animatedVideo{
color: black;

margin-top: -40%;
}
.info{
color: black;

margin-top: -40%;
}