.App {
  text-align: center;
  height: 100%;
  background-color:rgba(225, 225, 225, 1.0);
  
}
.logo{

  flex: 1;
}
.signupLogin{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.signup{
  
}
.nav{
  flex: 2;
  display: flex;
  justify-items: center;
  justify-content: center;
  height:  100px; 
  
 
 
}
.header{
  position: fixed;
  width: 100%;
}
.App-header{
 
  display: flex;
  justify-content: space-around;
}
.Nav-list{
  display: flex;
  align-items: center;
 
}
#toggle{
  display: none;
}
.test21{
  display: none;
}
label{
  max-width: 0 0 40% 0;
  font-size: 26px;
  display: none;
}
.footer{
  background-color: rgba(225, 225, 225, 1.0);
}
.test{

  width: 100%;
  height: 550px;
  background-color: rgba(240, 240, 240, 1.0); 
}
.we{
  text-decoration: none;
}
.footer{
  width: 100%;
 
}
.logo{
  width: 30%;
  height:  100px;
}
li{
  
  list-style-type: none;
  margin-top: 12px;
  margin-right: 22px;
}
.App-header {
  background-color: white;

}
@media(max-width:800px){
  .header{
    position: absolute;
    width: 100%;
  }
  label{
   cursor: pointer;
    display: flex;
    margin-right:12px;
    justify-content: flex-end;

  }
  .App-header{

    display: none;
  }
  .test21{

    display: none;
  }
  .logo{
    width: 10%;
    height: 12px;
  }
  .footer{
    width: 100%;
    height: 550px;
    background-color:rgba(253, 253, 253, 1.0);
  }
  #toggle:checked + .test21{
    margin-left: 20%;
    position: absolute;
    background-color: white;
    display: block;
    
  }
}
